================================================================================# defaults file for banner
================================================================================
==                                                                            ==
{{ formatted_msg }}
==                                                                            ==
================================================================================
================================================================================

